# Common IDE files
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vagrant
*.iml

# OS X Finder internal system files
.DS_Store
.localized
Icon
.vscode

# Package manager
node_modules
bower_components
vendor
*.lock
!composer.lock

# build the extensions
extensions.js

# deploy the docs
deploy.sh

# Roducks
logs
data
core
cache
storage
public/static
public/assets/libraries/community
*.local.yml
